root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.tf]
indent_size = 2

[*.libsonnet]
indent_size = 2

[{*.yml,*.yaml}]
indent_size = 2
