name: â– Local CI

on:
  workflow_call:
    inputs:
      check-infra:
        description: "Deploy infrastructure"
        type: boolean
        default: true
      check-app:
        description: "Deploy app"
        type: boolean
        default: true
    secrets:
      PROJECT_ID:
        required: true

permissions:
  contents: read
  id-token: write
  issues: read
  pull-requests: write

env:
  RUST_BACKTRACE: full

jobs:
  ci:
    name: /
    secrets: inherit
    uses: WalletConnect/ci_workflows/.github/workflows/ci.yml@0.1.2
    with:
      check-infra: ${{ inputs.check-infra }}
      check-app: ${{ inputs.check-app }}

  integration:
    name: Integration Tests
    if: ${{ inputs.check-app }}
    runs-on:
      group: ${{ vars.RUN_GROUP }}
    env:
      PROJECT_ID: ${{ secrets.PROJECT_ID }}
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis:7-alpine
        ports:
          - 6379:6379
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust ${{ vars.RUST_VERSION }}
        uses: WalletConnect/actions-rs/toolchain@1.1.0
        with:
          toolchain: ${{ vars.RUST_VERSION }}
          profile: 'default'
          override: true

      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.3

      - name: Integration Tests
        uses: WalletConnect/actions-rs/cargo@1.1.0
        with:
          command: test
          args: --test integration -- --test-threads=1
