name: â– Validate

on:
  workflow_call:
    inputs:
      stage:
        description: 'the environment to validate'
        required: true
        type: string
        default: 'staging'
      stage-url:
        description: 'the URL of the environment'
        required: true
        type: string
        default: https://${{ vars.SUBDOMAIN_NAME }}.walletconnect.com/health

permissions:
  contents: read
  checks: write
  id-token: write

jobs:
  health-check:
    name: Health Check - ${{ inputs.stage }}
    runs-on:
      group: ${{ vars.RUN_GROUP }}
    environment:
      name: ${{ inputs.stage }}
      url: ${{ inputs.stage-url }}
    steps:
      - name: health-check
        run: curl "${{ inputs.stage-url }}"

  validate-rust:
    name: Deployment Tests - ${{ inputs.stage }}
    runs-on:
      group: ${{ vars.RUN_GROUP }}
    environment:
      name: ${{ inputs.stage }}
      url: ${{ inputs.stage-url }}
    steps:
      - uses: actions/checkout@v3

      - name: Convert test environment
        id: get_test_env
        env:
          TEST_ENV: ${{ inputs.stage }}
        run: |
          echo "test_env=${TEST_ENV^^}" >> $GITHUB_OUTPUT

      - name: Run deployment tests
        run: cargo test --test deployment
        env:
          RUST_BACKTRACE: true
          ENVIRONMENT: ${{ steps.get_test_env.outputs.test_env }}
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
          NOTIFY_PROJECT_ID: ${{ secrets.VALIDATION_NOTIFY_PROJECT_ID }}
          NOTIFY_PROJECT_SECRET: ${{ secrets.VALIDATION_NOTIFY_PROJECT_SECRET }}

  # validate-swift:
  #   name: Swift Integration Tests - ${{ inputs.stage }}
  #   runs-on:
  #     group: apple-silicon
  #   permissions:
  #     contents: write
  #   environment:
  #     name: ${{ inputs.stage }}
  #     url: ${{ inputs.stage-url }}
  #   steps:
  #     - uses: actions/checkout@v3
  #       with:
  #         repository: WalletConnect/WalletConnectSwiftV2

  #     - name: Run Notify Tests
  #       uses: ./.github/actions/run_tests_without_building
  #       with:
  #         type: 'notify-tests'
  #         notify-endpoint: ${{ vars.VALIDATION_NOTIFY_ENDPOINT }}
  #         relay-endpoint: ${{ vars.VALIDATION_RELAY_ENDPOINT }}
  #         explorer-endpoint: ${{ vars.VALIDATION_EXPLORER_ENDPOINT }}
  #         project-id: ${{ secrets.VALIDATION_SWIFT_PROJECT_ID }}
  #         gm-dapp-host: ${{ vars.VALIDATION_DAPP_DOMAIN }}
  #         gm-dapp-project-id: ${{ secrets.VALIDATION_SWIFT_DAPP_PROJECT_ID }}
  #         gm-dapp-project-secret: ${{ secrets.VALIDATION_SWIFT_DAPP_PROJECT_SECRET }}
