name: â– Local CI

on:
  workflow_call:
    inputs:
      check-infra:
        description: "Deploy infrastructure"
        type: boolean
        default: true
      check-app:
        description: "Deploy app"
        type: boolean
        default: true
    secrets:
      PROJECT_ID:
        required: true

permissions:
  contents: read
  id-token: write
  issues: read
  pull-requests: write

env:
  RUST_BACKTRACE: full

jobs:
  ci:
    name: /
    secrets: inherit
    uses: WalletConnect/ci_workflows/.github/workflows/ci.yml@0.2.15
    with:
      check-infra: ${{ inputs.check-infra }}
      check-app: ${{ inputs.check-app }}

  integration:
    name: Integration Tests
    if: ${{ inputs.check-app }}
    runs-on: ubuntu-latest
    env:
      PROJECT_ID: ${{ secrets.PROJECT_ID }}
      RELAY_DOT_ENV: ${{ secrets.RELAY_DOT_ENV }}
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        options: >-
          --mount type=tmpfs,destination=/var/lib/postgresql/data
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis:7-alpine
        ports:
          - 6378:6379
    steps:
      # https://github.com/orgs/community/discussions/26688#discussioncomment-3252882
      - name: "Set some postgres settings"
        run: |
          docker exec ${{ job.services.postgres.id }} sh -c 'cat /var/lib/postgresql/data/postgresql.conf'
          docker exec ${{ job.services.postgres.id }} sh -c 'echo "max_connections=1000" >> /var/lib/postgresql/data/postgresql.conf'
          docker kill --signal=SIGHUP ${{ job.services.postgres.id }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.PRIVATE_SUBMODULE_ACCESS_TOKEN || github.token }}

      - name: Install Rust ${{ vars.RUST_VERSION }}
        uses: WalletConnect/actions-rs/toolchain@2.0.0
        with:
          toolchain: ${{ vars.RUST_VERSION }}
          profile: 'default'
          override: true

      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        with:
          repo-token: ${{ secrets.PRIVATE_SUBMODULE_ACCESS_TOKEN || github.token }}

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_MAIN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to ECR repository
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Install just
        run: |
          cargo install just

      - name: Start relay
        env:
          RELAY_REGISTRY_API_AUTH_TOKEN: ${{ secrets.REGISTRY_API_AUTH_TOKEN }}
        run: |
          just --unstable relay run-all-docker
        working-directory: rs-relay

      - name: Wait for relay to start
        run: |
          while ! nc -z 127.0.0.1 9010; do sleep 1; done

      - name: Integration Tests
        uses: WalletConnect/actions-rs/cargo@2.0.0
        with:
          command: test
          args: --test integration
